body {
  background: url("../public/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: "#fff" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
